.container{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    color: aquamarine;
}
.link{
    list-style: none;
}
.link{
    text-decoration: none;
    background-color: bisque;
    padding: 10px;
    border-radius: 10px;
    color:green;
}
.link:hover{
    color:blueviolet;
    background-color: azure;
    cursor: pointer;
}
